<div class="container">
  <h1>All Planets</h1>
  <div class="planets-container">
    <% @planets.each do |planet| %>
      <div class="planet-row">
        <div class="planet-icon-container">
          <i
            class="fa-solid <%= planet.earth_icon_class %> <%= planet.spin_classes %> planet-icon<%= ' planet-icon--spin-reverse' if planet.spin_reverse? %>"
            style="<%= planet.icon_style %>"
            aria-hidden="true"
          ></i>
        </div>
        <div class="planet-name-container">
          <p><%= planet.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
